*{
    box-sizing: border-box;
}
.App{
    display: block;
    margin: 0 auto;
    padding: 0 25px;
}

.HeaderOne {
    font-size: 80px;
    font-weight: normal;
    margin: 40px;
}

/*-------ArticleCard.js-------*/
.ArticleCardWrapper{
    align-items: flex-start;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px;
    padding: 25px;


}

.ArticleCardImage{
    flex-basis: 30%;
    
}

.ArticleCardImage img{
    height: auto;
    width: 100%; /* 100% of the width of the parents*/
    
}

.ArticleCardText{
    flex-basis: 60%;
    margin-left: 24px;
    
}

.ArticleCardTitle{
    font-size: 36px;
    font-weight: bold;
    margin: 20px;

}

.ArticleCardDate{
    margin: 20px;

}

.ArticleCardBlurb{
    margin: 20px;

}

.ArticleCardLink{
    margin: 20px;
}